<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>预约详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../css/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/jquery-weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/jquery-weui.min.js"></script>
		<script src="../js/app.js"></script>
		<style>
			.weui-cells__title{
				padding: 5px 20px;
				font-size: 16px;
			}
			.weui-form-preview__bd .weui-form-preview__value{
				float: left;margin-left: 15px;color: black;font-size: 15px;
			}
			.weui-form-preview__item{
				padding: 5px 5px;border-bottom:0.5px solid gainsboro;
			}
		</style>
		
	</head>
	<body>
		<div class="page">
			<div class="weui-cells__title">预约详情</div>
			<div class="weui-form-preview">
				<div class="weui-form-preview__bd">
				    <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">联系人</label>
				      <span class="weui-form-preview__value" id="name"></span>
				    </div>
				    <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">身份证</label>
				      <span class="weui-form-preview__value" id="idCard"></span>
				    </div>
				    <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">手机号</label>
				      <span class="weui-form-preview__value" id="mobile"></span>
				    </div>
				    <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">服务厅</label>
				      <span class="weui-form-preview__value" id="brank"></span>
				    </div>
				    <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">业务</label>
				      <span class="weui-form-preview__value" id="business"> </span>
				    </div>
				     <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">日期</label>
				      <span class="weui-form-preview__value" id="dataTime"></span>
				    </div>
				    <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">时间段</label>
				      <span class="weui-form-preview__value" id="dataTimeBt"></span>
				    </div>
				    <div class="weui-form-preview__item hiden" id="waitingCountP">
				      <label class="weui-form-preview__label">等待人数</label>
				      <span class="weui-form-preview__value " id="waitingCount"></span>
				    </div>
				    <div class="weui-form-preview__item hiden" id="waitingTimeP">
				      <label class="weui-form-preview__label">预计等待时间</label>
				      <span class="weui-form-preview__value" id="waitingTime"></span>
				    </div>
				    <div class="weui-form-preview__item">
				      <label class="weui-form-preview__label">状态</label>
				      <span class="weui-form-preview__value" id="status"></span>
				    </div>
				</div>
			</div>
			<div class="weui-msg__opr-area">
			    <p class="weui-btn-area">
			      <a href="javascript:;" class="weui-btn weui-btn_primary color-red hiden" id="cancelBtn">取消预约</a>
			    </p>
			  </div>
		</div>
		<script src="../js/view/subscribe_detail.js?v=1.04"></script>
	</body>
</html>
